<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>Ovo je testni naslov</h2>
        <p>
            <a href="~/">povratak</a>
        </p>
    </div>
</body>
</html>
