@model ppij_web_aplikacija.Models.Instrukcije.KategorijaModel

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body class="bootstrap-fix">
    <form class="form-inline" action="/instrukcije" method="post">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-sm-offset-3" style="text-align:center">
                    <hr />
                    <h3><b>Odaberi kategoriju:</b></h3>
                    <hr />
                    <div class="form-group">
                        <label>
                            Tražilica
                        </label>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Trazilica, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">
                            Traži
                        </button>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-sm-offset-3">
                    <hr />
                    <div class="list-group">
                        @foreach (var opis in Model.Opisi)
                        {
                            if (opis.BrojInstrukcija != 0)
                            {
                                <a href=@("/instrukcije/" + opis.Kategorija.ID_kategorija) class="list-group-item">
                                    @opis.Kategorija.naziv_kategorija
                                    <span class="badge">@opis.BrojInstrukcija</span>
                                </a>}
}
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>