@model ppij_web_aplikacija.Models.Instrukcije.PredmetModel

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h3>Biranje predmeta</h3>
    <hr />
    @using (Html.BeginForm("Index"))
    {
        <div>
            Tražilica
            @Html.TextBoxFor(model => model.Trazilica)
            <input type="submit" value="Traži" />
        </div>
    }
    <hr />
    <p>
        @foreach (var opis in Model.Opisi)
        {
            <div>
                @opis.Predmet.naziv_predmet -
                @Html.RouteLink("Odaberi", "Instrukcije", new { predmet_id = opis.Predmet.ID_predmet })
            </div>
        }
    </p>

</body>
</html>