@model ppij_web_aplikacija.Models.UstanovaModel

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h3>Biranje razine</h3>
    <hr />
    <p>
        @foreach (var ustanova in Model.Ustanove)
        {
            <div>
                @ustanova.Naziv_ustanova -
                @Html.RouteLink("Odaberi", "Predmeti", new { ustanova_id = ustanova.ID_ustanova })
            </div>
        }
    </p>

</body>
</html>