body {
}

/*********************************/
.redrazmak{
    width:80px;
}

.prihvati-lijevo{
    margin-left:747px;
}


.myacceptlabel {
display:block;
border:solid 1px green;
line-height:25px;
height:25px;
width:80px;
border-radius:5px;
-webkit-font-smoothing: antialiased; 
margin-top:2px;
font-family:Arial,Helvetica,sans-serif;
color:green;
text-align:center;
}


input:checked + .myacceptlabel {
border: solid 2px forestgreen;
background-color:forestgreen;
color:white;
}

input:checked + .myacceptlabel:before {
content: "\2713";
}


.myodustanilabel {
display:block;
border: solid 1px red;
line-height:25px;
height:25px;
width: 80px;
border-radius:7px;
-webkit-font-smoothing: antialiased; 
margin-top:2px;
font-family:Arial,Helvetica,sans-serif;
color: red;
text-align:center;
}

input:checked + .myodustanilabel {
border:solid 1px red;
color:white;
background-color:red
}

input:checked + .myodustanilabel::before {
content: "\2713";
}

.myseenlabel {
display:block;
border: solid 2px forestgreen;
line-height:25px;
height:25px;
width: 80px;
border-radius:7px;
-webkit-font-smoothing: antialiased; 
margin-top:2px;
font-family:Arial,Helvetica,sans-serif;
color: forestgreen;
text-align:center;
}

input:checked + .myseenlabel {
border:solid 1px lightgray;
color:lightgray;
}

input:checked + .myseenlabel::before {
content: "\2713";
}

/************/
.mylabel {
display:block;
border:solid 1px gray;
line-height:25px;
height:25px;
width: 80px;
border-radius:7px;
-webkit-font-smoothing: antialiased; 
margin-top:2px;
font-family:Arial,Helvetica,sans-serif;
color:gray;
text-align:center;
}

.mycheck{

}
input[type=checkbox].mycheck{
display: none;
}


input:checked + .mylabel {
border: solid 1px green;
color: white;
background-color: green;
}

input:checked + .mylabel:before {
content: "\2713";
}

/***********************************************************************/
#mapid {
     height: 300px; 
    width: 400px;
}

.mapsize{
    height: 300px;
    width: 400px;
}


/*******************************/
.header-fixed {
    width: 100%;
    
}

.header-fixed > thead,
.header-fixed > thead > tr,
.header-fixed > thead > tr > th{
    background-color:black;
    color:white;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > tbody > tr,
.header-fixed > thead > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}


.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 400px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    height: 45px;
    float: left;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 97px;
}


/*********/

/*****************************************************/
.crvena-boja{
    text-decoration-color:red;
}
.center-block{
    margin-left:25%;
}

.top-buffer { 
    margin-top:50px;
}

.razmak-lijevo {
    position:relative;
    left:25%;
}

.mali-razmak-lijevo{
    margin-left:30px;
}

.mali-razmak-gore {
    margin-top:7px;
}

.mali-razmak-dolje {
    margin-bottom:14px;
}

.margina-dolje{
    bottom:50px;
}
/***********************************************************************************************/
