@import url('Site.css');
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#footer{
    margin-top: 20px;
    right:40px;
}

.navbar-header{
    display: inline;
}

button.navbar-toggle{
    width: 45px;
    color: #999999;
}

