﻿<link href="~/Content/homepage.css" rel="stylesheet" />

<div class="jumbotron">
    <div class="jumbotron-content">
        <p class="lead">Dobrodošli na Instrukcije.hr!</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <h2>Nudite li ili tražite instrukcije?</h2>
        <p>Instrukcije.hr je pravo mjesto za Vas!</p>
        <p><a class="btn btn-default" href="/test/">Registracija &raquo;</a></p>
    </div>
    <div class="col-xs-12 col-md-6">
        <h2>Zadovoljni dobivenim instrukcijama ili klijentima?</h2>
        <p>Imate mogućnost ocjenjivanja instruktora i klijenta.</p>
        <p><a class="btn btn-default" href="/test/">Ocijenite &raquo;</a></p>
    </div>
</div>
