<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Dobrodošli na Instrukcije.hr!</p>
    <p><a href="/test/" class="btn btn-primary btn-lg" >idi na testnu &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Za početak</h2>
        <p>napravite registraciju</p>
        <p><a class="btn btn-default" href="/test/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Želite li pružati ili primati instrukcije</h2>
        <p>Web stranica pruža mogućnost registracije kao instruktor ili kao klijent</p>
        <p><a class="btn btn-default" href="/test/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zadovoljni dobivenim instrukcijama?</h2>
        <p>Web stranica pruža mogućnost ocijenjivanja instruktora</p>
        <p><a class="btn btn-default" href="/test/">Learn more &raquo;</a></p>
    </div>
</div>
